<div class="imgix-image">
    {% if linkUrl %}
        <a href="{{ linkUrl }}">
    {% endif %}
    <img src="{{ url }}" title="{{ title }}" />
    {% if linkUrl %}
        </a>
    {% endif %}
    <div class="caption">
        {{ caption }}
    </div>
</div>
